*.class
logs
target
/.idea
/.idea/libraries
/.idea/misc.xml
/.idea/play2_project_settings.xml
/.idea/play2_settings.xml
/.idea/sbt.xml
/.idea/scala_compiler.xml
/.idea/sqldialects.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/compiler.xml
/.idea/inspectionProfiles/Project_Default.xml
/.classpath
/.project
/.settings
/RUNNING_PID
.DS_Store
*.log
/bin/
.vscode/
project/project/
/FFDC
mqjms*
*.pdf